@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


#tabcatalog-thumbnail-container:not([show-thumbnail-header="true"]) .tabcatalog-thumbnail-header-box,
#tabcatalog-thumbnail-container:not([show-thumbnail-closebox="true"]) .tabcatalog-thumbnail-header-closebox,
#tabcatalog-thumbnail-container:not([show-thumbnail-shortcut="true"]) .tabcatalog-thumbnail-footer-box,
#tabcatalog-thumbnail-container:not([show-thumbnail-toolbar-buttons="true"]) .tabcatalog-thumbnail-toolbar-item {
	display: none;
}
#tabcatalog-thumbnail-container[show-thumbnail-closebox="true"] .tabcatalog-thumbnail-header-closebox {
	display: -moz-box;
}


#tabcatalog-thumbnail-container-wrapper {
	position: relative;
	overflow: hidden;
}

#tabcatalog-thumbnail-container {
	position: fixed;
}



#tabcatalog-padding-size-box,
#tabcatalog-header-size-box {
	height: 0 !important;
	max-height: 0 !important;
}


.tabcatalog-thumbnail-shortcut-label:not([value]) {
	display: none;
}


.tabcatalog-thumbnail-toolbar-item.reload[disabled="true"],
.tabcatalog-thumbnail-toolbar-item.stop[disabled="true"] {
	visibility: collapse;
}


/* こうしておかないとDOMMouseScrollイベントが発生しない……何故？ */
#tabcatalog-thumbnail-panel {
	overflow: auto !important;
}

.tabcatalog-thumbnail[busy="true"] > .tabcatalog-thumbnail-header-box > .tabcatalog-thumbnail-header-favicon {
	list-style-image: url("jar:resource:///chrome/classic.jar!/skin/classic/global/icons/loading_16.png") !important;
}
