@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Close button in thumbnail */

.tabcatalog-thumbnail-header-closebox.tab-close-button label {
	display: none;
}

/**
 * In-tab close button
 */

.tabcatalog-thumbnail-header-closebox.tab-close-button {
  list-style-image: url("moz-icon://stock/gtk-close?size=menu");
}


/* toolbar buttons in thumbnail */


.tabcatalog-thumbnail-toolbar-item,
.tabcatalog-thumbnail-toolbar-item > .toolbarbutton-icon {
	appearance: none !important;
	-moz-appearance: none !important;
	border-width: 0 !important;
	height: 16px !important;
	margin: 0 !important;
	min-height: 16px !important;
	min-width: 16px !important;
	padding: 0 !important;
	width: 16px !important;
}

.tabcatalog-thumbnail-toolbar-item {
	opacity: 0.75;
}
.tabcatalog-thumbnail-toolbar-item:hover,
.tabcatalog-thumbnail-toolbar-item:hover:active {
	opacity: 1;
}


/* back button-- */

.tabcatalog-thumbnail-toolbar-item.goBack {
  list-style-image: url("moz-icon://stock/gtk-go-back-ltr?size=menu");
}
.tabcatalog-thumbnail-toolbar-item.goBack[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-go-back-ltr?size=menu&state=disabled");
}

.tabcatalog-thumbnail-toolbar-item.goBack[chromedir="rtl"] {
  list-style-image: url("moz-icon://stock/gtk-go-back-rtl?size=menu");
}
.tabcatalog-thumbnail-toolbar-item.goBack[chromedir="rtl"][disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-go-back-rtl?size=menu&state=disabled");
}


/* small forward button-- */

.tabcatalog-thumbnail-toolbar-item.goForward {
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=menu");
}
.tabcatalog-thumbnail-toolbar-item.goForward[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=menu&state=disabled");
}

.tabcatalog-thumbnail-toolbar-item.goForward[chromedir="rtl"] {
  list-style-image: url("moz-icon://stock/gtk-go-forward-rtl?size=menu");
}
.tabcatalog-thumbnail-toolbar-item.goForward[chromedir="rtl"][disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-go-forward-rtl?size=menu&state=disabled");
}

/* stop button */

.tabcatalog-thumbnail-toolbar-item.stop {
  list-style-image: url("moz-icon://stock/gtk-stop?size=menu");
}
.tabcatalog-thumbnail-toolbar-item.stop[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-stop?size=menu&state=disabled");
}

/* reload button */

.tabcatalog-thumbnail-toolbar-item.reload {
  list-style-image: url("moz-icon://stock/gtk-refresh?size=menu");
}
.tabcatalog-thumbnail-toolbar-item.reload[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-refresh?size=menu&state=disabled");
}
